<div style='margin: 30px'>
  <h1>{{make}} {{model}}</h1>
  <p>Year: {{year}}</p>
  <p>Color: {{color}}</p>

  <h2>Features</h2>
  <ul>
    <li>Interior</li>
    <ul>
      <li>Seats</li>
      <ul>
        <li>Material:
          {{features.interior.seats.material}}</li>
        <li>Color: {{features.interior.seats.color}}</li>
        <li>Heated:
          {{#if
            features.interior.seats.heated
          }}Yes{{else}}No{{/if}}</li>
        <li>Ventilated:
          {{#if
            features.interior.seats.ventilated
          }}Yes{{else}}No{{/if}}</li>
      </ul>
      <li>Dashboard</li>
      <ul>
        <li>Material:
          {{features.interior.dashboard.material}}</li>
        <li>Color:
          {{features.interior.dashboard.color}}</li>
        <li>Display</li>
        <ul>
          <li>Type:
            {{features.interior.dashboard.display.type}}</li>
          <li>Size:
            {{features.interior.dashboard.display.size}}
            inches</li>
          <li>Resolution:
            {{features.interior.dashboard.display.resolution}}</li>
          <li>Touchscreen:
            {{#if
              features.interior.dashboard.display.touchscreen
            }}Yes{{else}}No{{/if}}</li>
        </ul>
      </ul>
      <li>Audio</li>
      <ul>
        <li class='badge text-bg-primary'>System:
          {{features.interior.audio.system}}</li>
        <li class='badge text-bg-primary'>Speakers:
          {{features.interior.audio.speakers}}</li>
        <li class='badge text-bg-primary'>Subwoofer:
          {{#if
            features.interior.audio.subwoofer
          }}Yes{{else}}No{{/if}}</li>
        <li class='badge text-bg-primary'>Bluetooth:
          {{#if
            features.interior.audio.bluetooth
          }}Yes{{else}}No{{/if}}</li>
        <li class='badge text-bg-primary'>USB:
          {{#if
            features.interior.audio.USB
          }}Yes{{else}}No{{/if}}</li>
      </ul>
    </ul>
    <li>Exterior</li>
    <ul>
      <li>Wheels</li>
      <ul>
        <li>Size:
          {{features.exterior.wheels.size}}
          inches</li>
        <li>Type: {{features.exterior.wheels.type}}</li>
        <li>Color: {{features.exterior.wheels.color}}</li>
      </ul>
      <li>Headlights</li>
      <ul>
        <li>Type: {{features.exterior.headlights.type}}</li>
        <li>Brightness:
          {{features.exterior.headlights.brightness}}</li>
        <li>Automatic:
          {{#if
            features.exterior.headlights.automatic
          }}Yes{{else}}No{{/if}}</li>
      </ul>
      <li>Sunroof</li>
      <ul>
        <li>Type: {{features.exterior.sunroof.type}}</li>
        <li>Size: {{features.exterior.sunroof.size}}</li>
        <li>Automatic:
          {{#if
            features.exterior.sunroof.automatic
          }}Yes{{else}}No{{/if}}</li>
      </ul>
    </ul>

    <li>Safety</li>
    <ul>
      <li>Airbags</li>
      <ul>
        <li class='badge text-bg-primary'>Front:
          {{features.safety.airbags.front}}</li>
        <li class='badge text-bg-primary'>Side:
          {{features.safety.airbags.side}}</li>
        <li class='badge text-bg-primary'>Knee:
          {{features.safety.airbags.knee}}</li>
        <li class='badge text-bg-primary'>Rear:
          {{features.safety.airbags.rear}}</li>
      </ul>
      <li>Assistanse</li>
      <ul>
        <li>blind spot monitoring:
          {{#if
            features.safety.assistance.blind_spot_monitoring
          }}Yes{{else}}No{{/if}}</li>
        <li>Rear cross traffic alert:
          {{#if
            features.safety.assistance.rear_cross_traffic_alert
          }}Yes{{else}}No{{/if}}</li>
        <li>Lane departure warning:
          {{#if
            features.safety.assistance.lane_departure_warning
          }}Yes{{else}}No{{/if}}</li>
        <li>Adaptive cruise control:
          {{#if
            features.safety.assistance.adaptive_cruise_control
          }}Yes{{else}}No{{/if}}</li>
        <li>Collision warning:
          {{#if
            features.safety.assistance.collision_warning
          }}Yes{{else}}No{{/if}}</li>
      </ul>
    </ul>
    <h3>Engine</h3>
    <p>Type: {{engine.type}}</p>
    <p>Displacement: {{engine.displacement}}L</p>
    <p>Horsepower: {{engine.horsepower}} hp</p>
    <p>Torque: {{engine.torque}} lb-ft</p>
    <h3> Fuel Economy</h3>
    <p>City: {{fuel_economy.city}} mpg</p>
    <p>Highway: {{fuel_economy.highway}} mpg</p>
    <p>Combined: {{fuel_economy.combined}} mpg</p>
    <h3> Price </h3>
    <p>Base Price: ${{price.base}}</p>
    <p>Destination Charge: ${{price.destination}}</p>
    <p>Options:</p>
    <ul>
      <li class='badge text-bg-info'>Navigation: ${{price.options.navigation}}</li>
      <li class='badge text-bg-info'>Moonroof: ${{price.options.moonroof}}</li>
      <li class='badge text-bg-info'>Premium Paint: ${{price.options.premium_paint}}</li>
    </ul>
    <br />
    <p class='badge text-bg-info'>Total Price: ${{price.total}}</p>
  </ul>
</div>