<div style='margin: 30px'>
  <h1>{{name}}</h1>
  <h2>Users:</h2>
  <ul>
    {{#each this.users}}
      ID:{{this.id}}
      {{this.name}}
      ({{this.gender}},
      {{this.age}})
      <ul>
        <li
          class='alert alert-dark'
          role='alert'
        >Friends:</li>
        <ul>
          {{#each this.friends}}
            <li>
              ID:{{this.id}}
              {{this.name}}
              ({{this.gender}},
              {{this.age}})
              <ul>
                <li>Mutual friends:</li>
                <ul>
                  {{#each this.mutual_friends}}
                    <li>
                      ID:{{this.id}}
                      {{this.name}}
                      ({{this.gender}},
                      {{this.age}})
                      <ul>
                        {{#each this.mutual_friends}}
                          <li>
                            ID:{{this.id}}
                            {{this.name}}
                            ({{this.gender}},
                            {{this.age}})
                          </li>
                        {{/each}}
                      </ul>
                    </li>
                  {{/each}}
                </ul>
              </ul>
            </li>
            {{#if this.groups}}
              <li
                class='alert alert-dark'
                role='alert'
              >Groups:</li>
              <ul>
                {{#each this.groups}}
                  <li>
                    ID:{{this.id}}
                    {{this.name}}
                    -
                    {{this.description}}
                    <ul>
                      {{#each this.members}}
                        <li>
                          ID:{{this.id}}
                          {{this.name}}
                          ({{this.gender}},
                          {{this.age}})
                        </li>
                      {{/each}}
                    </ul>
                  </li>
                {{/each}}
              </ul>
            {{/if}}
          {{/each}}
        </ul>
        {{#if this.groups}}
          <li
            class='alert alert-dark'
            role='alert'
          >Groups:</li>
          <ul>
            {{#each this.groups}}
              <li>
                ID:{{this.id}}
                {{this.name}}
                -
                {{this.description}}
                <ul>
                  {{#each this.members}}
                    <li>
                      ID:{{this.id}}
                      {{this.name}}
                      ({{this.gender}},
                      {{this.age}})
                    </li>
                  {{/each}}
                </ul>
              </li>
            {{/each}}
          </ul>
        {{/if}}
      </ul>
    {{/each}}
  </ul>
</div>